.leftdata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

// .rightdata{
//     display: flex;
//     flex-direction: row;
//     justify-content: space-between;
// }

.navdata{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}