styles.product-sectin{
    padding-right: 40px;
}

.indImage{
    height: 200px;
    width: 200px;
    cursor: pointer;
}

.product_img{
    height: 100%;
    background-color: rgb(242, 248, 248);

    // align-items: center;
    // justify-content: center;
}

.products_name{
    font-size: 140%;
    // font-weight: 1000;
    margin-right: 5%;
}

.price_tag{
    font-size: 100%;
}
.tag{
    font-size: 110%;
}

.container{
    background-color: rgb(242, 248, 248);
}