
styles.product-sectin{
    padding-right: 40px;
}

.indImage{
    height: 20%;
    width: 40%;
    cursor: pointer;
}

.product_img{
    height: 100%;
    // display: flex;
    // flex-direction: column;
    align-items: center;
    justify-content: center;
}

.products_name{
    font-size: 140%;
    // font-weight: 1000;
    margin-right: 5%;
}

.price_tag{
    font-size: 100%;
}
.tag{
    font-size: 110%;
}