// *{
//     size: 10px;
// }

.logo{
    position: sticky;
    width: 250px;
    height: 80px;
}

.container{
    display: flex;
    flex-direction: row;
    background-color: grey;
}

.searchBar{
    height: 50px;
    margin-top: 1%;
    width: 30%;
    // border-radius: 5%;
}